.my-study {
  background-color: #edffff;
  min-height: 100vh;
}
.my-study .toggle-container {
  height: 112.5rpx;
  background-size: cover;
  position: relative;
}
.my-study .toggle-container .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.my-study .toggle-container .bg image {
  width: 100%;
  height: 100%;
}
.my-study .toggle-container .toggle {
  width: 41%;
  height: 76.38888889rpx;
  line-height: 76.38888889rpx;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-content: center;
  z-index: 9;
}
.my-study .toggle-container .toggle li {
  height: 100%;
  width: 50%;
  text-align: center;
  font-size: 29.16666667rpx;
}
.my-study .toggle-container .toggle li:first-child {
  border-top-left-radius: 76.38888889rpx;
  border-bottom-left-radius: 76.38888889rpx;
  background-color: #33a6ef;
  color: #fff;
}
.my-study .toggle-container .toggle li:last-child {
  border-top-right-radius: 76.38888889rpx;
  border-bottom-right-radius: 76.38888889rpx;
  background-color: #ffffff;
  color: #000000;
}
.my-study .content {
  padding: 24.30555556rpx 3%;
  height: 694.44444444rpx;
}
.my-study .content .item {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 41.66666667rpx 0 36.80555556rpx 27.77777778rpx;
  border-bottom: 0.69444444rpx solid #999;
  /*no*/
}
.my-study .content .item .title {
  font-size: 33.33333333rpx;
  font-weight: normal;
  line-height: 48.61111111rpx;
}
.my-study .content .item .time {
  font-size: 19.44444444rpx;
  color: #9c9c9c;
}
.my-study .content .item .tip {
  height: 100%;
}
.my-study .content .item .tip > text {
  position: absolute;
  width: 150rpx;
  height: 37.5rpx;
  background-color: #188fff;
  text-align: center;
  line-height: 37.5rpx;
  color: 20.83333333rpx;
  bottom: 25.69444444rpx;
  right: 0;
  color: #fff;
  border-top-left-radius: 6.94444444rpx;
  font-size: 12px;
}
