#collection {
  width: 100%;
  height: 100%;
  background: #fff;
}
#collection > .editWrap {
  width: 100%;
  height: 88.88888889rpx;
  padding: 20.13888889rpx 27.77777778rpx;
  background: #ececec;
}
#collection > .editWrap .btn {
  width: 111.11111111rpx;
  height: 48.61111111rpx;
  background: #f14d4f;
  border-radius: 6.94444444rpx;
  text-align: center;
  line-height: 48.61111111rpx;
  color: #fff;
  font-size: 20.83333333rpx;
  float: right;
}
#collection .main {
  background: #fff;
  border: 0.69444444rpx solid transparent;
  padding: 0 27.77777778rpx;
}
#collection .main.edit {
  padding-left: 76.38888889rpx;
}
#collection .main .item {
  margin-top: 20.83333333rpx;
  height: 182.63888889rpx;
  width: 100%;
  border-bottom: 0.69444444rpx solid #999;
  /*no*/
  position: relative;
}
#collection .main .item:last-child {
  border: none;
}
#collection .main .item .select {
  width: 34.72222222rpx;
  height: 34.72222222rpx;
  color: #fff;
  position: absolute;
  left: -52.08333333rpx;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  z-index: 999;
  border: 2.08333333rpx solid #898989;
  display: flex;
  justify-content: center;
  align-items: center;
}
#collection .main .item .select.active {
  background: #f14d4f;
  border: 2.08333333rpx solid transparent;
}
#collection .main .item .img {
  float: left;
  margin-right: 20.83333333rpx;
}
#collection .main .item .img image {
  width: 259.72222222rpx;
  height: 163.19444444rpx;
}
#collection .main .item .detail {
  overflow: hidden;
  height: 100%;
}
#collection .main .item .detail > .title {
  font-size: 22.22222222rpx;
  font-weight: bold;
  color: #333;
  margin-bottom: 13.88888889rpx;
}
#collection .main .item .detail > .p {
  color: #444;
  font-size: 20.83333333rpx;
}
#collection .main .item .detail .data {
  display: flex;
  justify-content: space-between;
  align-items: cente;
  height: 22.91666667rpx;
  font-size: 19.44444444rpx;
  color: #999;
  margin-top: 17.36111111rpx;
}
#collection .main .item .detail .data > text {
  flex: 1;
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#collection .main .item .detail .data .icon {
  font-size: 26.38888889rpx;
  margin-right: 5.55555556rpx;
}
#collection .btnWrap {
  padding: 0 27.77777778rpx;
  width: 100%;
  display: flex;
  margin-top: 31.94444444rpx;
  justify-content: space-between;
}
#collection .btnWrap > view {
  width: 296.52777778rpx;
  height: 95.83333333rpx;
  background: #e94547;
  color: #fff;
  line-height: 95.83333333rpx;
  text-align: center;
  font-size: 41.66666667rpx;
}
